<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id ='header'><marquee behavior="scroll" direction="right"><h1>AI CHATBOT</h1></marquee></div> 
    <div id="chat-container">
        <div id="chat-log"></div>
        <div id="input-area">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button id="send-button" class="btn btn-primary" type="submit"><span>Send</span></button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
